<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.user">

    <application>
        <activity
            android:theme="@style/arch_Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ResetPwdActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>