<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.module_order">

    <application>
        <activity
            android:name=".GoogleTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CameraTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HelloArActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TestAR2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".body3d.BodyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".world.WorldActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CreateOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ChoosePolicyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.PrePhotosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PrePhotoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.TakePhotoActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>